* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

@font-face {
  font-display: swap;
  font-family: "Iosevka";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iosevka-regular.woff2") format("woff2"), url("../fonts/iosevka-regular.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Iosevka";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/iosevka-italic.woff2") format("woff2"), url("../fonts/iosevka-italic.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Iosevka Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/iosevka-mono-regular.woff2") format("woff2"), url("../fonts/iosevka-mono-regular.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Iosevka Mono";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/iosevka-mono-italic.woff2") format("woff2"), url("../fonts/iosevka-mono-italic.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Zen Antique Soft";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/zen-antique-soft-regular.woff2") format("woff2"), url("../fonts/zen-antique-soft-regular.ttf") format("truetype")
}

html {
  font-family: "Iosevka", serif
}

@media (min-width: 48em) {
  html {
      font-size: 16px;
  }
}

@media (min-width: 58em) {
  html {
      font-size: 20px;
  }
}

code,
pre,
.meta,
.codeblock {
  font-family: "Iosevka Mono", monospace
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Iosevka", serif;
  font-style: bold;
  letter-spacing: 0.07em;
  text-rendering: geometricPrecision
}

html {
  color: #e5cca5;
  background-color: #33423b
}

body {
  font-size: 16pt;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

::selection {
  background-color: #468096
}

h1 {
  font-size: 2rem;
  margin-top: 0
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem
}

h4,
h5,
h6 {
  margin-top: 1rem;
  font-size: 1rem
}

@media(max-width:47em) {
  h1 {
    font-size: 1.5rem
  }
}

p>em {
  color: #f3f9f1
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a,
h6>a {
  text-decoration: none
}

a {
  color: inherit;
  text-decoration-line: none;
  word-break: break-word
}

a strong {
  color: inherit;
}

.content p a {
  text-decoration-line: underline;
  text-decoration-color: #e76f51;
  text-underline-offset: 15%;
  text-decoration-thickness: 15%
}

.content a:hover,
a:focus {
  text-decoration-line: underline;
  color: white
}

.content p a:hover,
.content p a:focus {
  text-decoration-color: white
}

a:hover,
a:focus,
a code {
  text-decoration-style: none
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}

strong {
  color: #e3e3e3
}

ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5rem;
}

hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 2px solid #f4a261
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 5px
}

code {
  padding: .125em .25em;
  font-size: 74%;
  color: #fbfff9;
  background-color: #407488;
  border-radius: 3px
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  word-break: keep-all;
  background-color: #264653;
  border-radius: 10px;
  overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none
}

pre::-webkit-scrollbar {
  display: none
}

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
  position: relative;
  z-index: 2
}

.code-wrap pre {
  white-space: normal;
  word-break: break-all
}

/* Quotes */
blockquote {
  padding: 0.5rem 1rem;
  margin: 0.8rem 0;
  color: #fafff9;
  background-color: #264653;
  padding-right: 2rem;
  border-left: 0.25rem solid #d2d9d0;
}

@media(min-width:48em) {
  blockquote {
    padding-right: 1.25rem;
    padding-left: 1.25rem
  }
}

blockquote :first-child {
  margin-top: 0
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote code {
  background-color: #264653
}

blockquote>h1,
blockquote>h2,
blockquote>h3,
blockquote>h4,
blockquote>h5,
blockquote>h6 {
  font-style: normal;
  transform: translate(-0.2rem, 0.5rem)
}

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #d2d9d0;
  border-collapse: collapse;
}

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #d2d9d0;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #264653
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.container {
  max-width: 38rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  text-align: center;
  color: #D6BD98;
  background-color: #4b5a4c
}

@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 18rem;
    text-align: left;
    padding: 1em;
    font-size: .7rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between
  }
}

@media(min-width:72em) {
  .sidebar {
    font-size: 1rem
  }
}

.sidebar a {
  color: #D6BD98;
}

.sidebar a:hover {
  color: white
}

.sidebar-about h1 {
  font-size: 3.25em;
  transform: none;
  margin-bottom: .5rem;
  font-size: 3.25rem;
}

/* Sidebar nav */
.sidebar-nav {
  margin-bottom: 1rem;
}

.sidebar-nav-item {
  display: block;
  line-height: 1.75;
}

a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}

.sidebar-nav-item.active {
  font-weight: bold;
}

@media (min-width: 48em) {
  .sidebar-sticky {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
  }
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (min-width: 48em) {
  .content {
      max-width: 38rem;
      margin-left: 20rem;
      margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
      margin-left: 22rem;
      margin-right: 4rem;
  }
}
